.bookmark-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 100%;
    padding-bottom: 20px;
}

.bookmark-page-inner-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 8vw;
}

.bookmark-page-header-text {
    font-size: 1.438rem;
    font-weight: var(--font-weight-extrabold);
    font-family: var(--font-open-sans-family), sans-serif;
    color: var(--text-color);
    text-align: left;
    margin-top: 30px;
}

.bookmark-movies-grid {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}