.button-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-submit-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-submit-button:hover {
    background-color: #2980b9;
}

.close-search-button {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
