.button-container {
    width: 100%;
    display: flex;
    justify-content: end;
}

.search-content {
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    width: 100%;
    transition: all 0.3s ease;
    margin-left: 10px;
}

.search-icon {
    width: 30px;
    height: 30px;
    flex-shrink: 0;
}

.search-input {
    flex: 1;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: var(--font-montserrat-family), sans-serif;
    font-weight: var(--font-weight-regular);
    color: var(--black-color);
    background: transparent;
    box-sizing: border-box;
    border: none;
    outline: none;
    width: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.search-input::placeholder {
    color: var(--black-color);
}
