namespace Streamline.Utilities;


public static class Environments
{
    public static string GetApiKey()
    {
        return ""; // API Key
    }

    public static string MovieDbApiUrl()
    {
        return ""; // TMDB API URL
    }
    
    public static string GetBackendApiUrl()
    {
        return ""; // BACKEND API URL
    }
}