.movie-detail-information-text-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: fit-content;
    margin: 0 auto;
    text-align: left;
    color: var(--text-color);
    padding-bottom: 200px;
}

.movie-detail-information-text-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-top: 10px;
    gap: 10px;
}

.movie-detail-information-popularity-container {
    align-items: center;
}

.movie-detail-information-tagline-container {
    justify-content: center !important;
    font-style: italic;
    text-align: center;
}

.movie-detail-information-tagline {
    quotes: '“' '”';
    display: inline-block;
}

.movie-rating-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.movie-rating-slider-input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background: var(--light-gray-color);
    height: 5px;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s ease;
}

.movie-rating-slider-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.movie-rating-slider-input::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    transition: background 0.3s ease;
}

.movie-rating-value {
    font-size: 1rem;
    color: var(--text-color);
    font-weight: var(--font-weight-medium);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.movie-detail-information-rating-rating-star {
    width: 18px;
    height: 18px;
}

.movie-detail-information-collection-image {
    width: 150px;
    height: fit-content;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: var(--action-box-shadow);
}

.movie-detail-information-header-text {
    font-weight: var(--font-weight-semibold);
    font-size: 1.2rem;
    margin-bottom: 2px;
}

.movie-detail-information-text-justify {
    text-align: justify;
}

.movie-detail-information-company-inner-container {
    white-space: normal;
    flex-wrap: wrap;
}

.movie-detail-information-similar-movies-container {
    overflow-y: auto;
    display: flex;
    max-width: 400px;
    padding: 110px 0 20px;
}