.movie-item-container {
    position: relative;
    border-radius: 10px;
    margin: 0 10px;
}

.movie-item-poster-container {
    position: relative;
}

.movie-item-movie-poster {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--action-box-shadow);
}