.terms-container {
    max-width: 800px;
    margin: 40px auto;
    font-family: var(--font-open-sans-family), sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    color: var(--text-color);
    background-color: var(--background-color);
    border-radius: 10px;
    padding: 20px 20px 150px;
    text-align: left;
}

.terms-container h2 {
    font-size: 1.8rem;
    font-weight: var(--font-weight-bold);
    margin-bottom: 20px;
    color: var(--primary-color);
}

.terms-container h3 {
    font-size: 1.4rem;
    font-weight: var(--font-weight-semibold);
    margin-top: 20px;
    color: var(--secondary-color);
}

.terms-container p {
    margin-bottom: 20px;
}

.terms-container ul {
    margin: 10px 0;
    padding-left: 20px;
    list-style-type: disc;
}

.terms-container ul li {
    margin-bottom: 10px;
}

.terms-container a {
    color: var(--primary-color);
    text-decoration: none;
}

.terms-container a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}
